<!doctype html>

<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
  <title>njncalub:{{ if and (eq .Page.File.Dir "") (eq .Page.File.TranslationBaseName "_index") }}~{{ else }}~/{{ .Page.File.Dir }}{{ .Page.File.TranslationBaseName }}{{ end }} $</title>
  {{ partial "meta" . }}
  {{ partial "header_includes" . -}}
</head>

<body>
  <div id="container">
    <header>
      <h1>
          <a href="{{ relURL "/" }}" title="{{ .Site.Params.subtitle }}">{{ .Site.Title | markdownify }}</a>
      </h1>

      {{ partial "social_media" . }}

      {{ with .Site.Params.tagline }}
      <p><em>{{ . | markdownify }}</em></p>
      {{ end }}
    </header>

    {{ partial "nav" . }}

    <main>
