<ul id="social-media">
{{ if .Site.Author.keybase }}
  <li><a title="Keybase" href="https://keybase.io/{{ .Site.Author.keybase }}"><i class="fab fa-keybase fa-lg" aria-hidden="true"></i></a></li>
{{ end }}
{{ if .Site.Author.twitter }}
  <li><a title="Twitter" href="https://twitter.com/{{ .Site.Author.twitter }}"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a></li>
{{ end }}
{{ if .Site.Author.linkedin }}
  <li><a title="LinkedIn" href="https://linkedin.com/in/{{ .Site.Author.linkedin }}"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
{{ end }}
{{ if .Site.Author.github }}
  <li><a title="GitHub" href="https://github.com/{{ .Site.Author.github }}"><i class="fab fa-github fa-lg" aria-hidden="true"></i></a></li>
{{ end }}
{{ if .Site.Author.gitlab }}
  <li><a title="GitLab" href="https://gitlab.com/{{ .Site.Author.gitlab }}"><i class="fab fa-gitlab fa-lg" aria-hidden="true"></i></a></li>
{{ end }}
{{ if .Site.Author.facebook }}
  <li><a title="Facebook" href="https://www.facebook.com/{{ .Site.Author.facebook }}"><i class="fab fa-facebook fa-lg" aria-hidden="true"></i></a></li>
{{ end }}
{{ if .Site.Author.instagram }}
  <li><a title="Instagram" href="https://instagram.com/{{ .Site.Author.instagram }}"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i></a></li>
{{ end }}
{{ if .Site.Author.resume }}
  <li><a title="Curriculum Vitae" href="{{ .Site.Author.resume }}"><i class="far fa-list-alt fa-lg" aria-hidden="true"></i></a></li>
{{ end }}
{{ if .Site.Author.learning }}
  <li><a title="Continuous Learning" href="{{ .Site.Author.learning }}"><i class="fas fa-level-up-alt fa-lg" aria-hidden="true"></i></a></li>
{{ end }}
</ul>
